* {
  padding: 0;
  margin: 0;
}

.mainBody {
  width: 1150px;
  background-color: #da291c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.FactorSection {
  min-height: 10rem;
  border-radius: 1rem;
  background-color: #f0f8ff;
  padding: 20px;
  width: 300px;
}

.ManProductSection {
  width: 50vw;
  /* height: 30rem; */
  border-radius: 1rem;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.SumationFactor {
  display: flex;
  justify-content: space-between;
  margin: 15px 5px;
}

.finalPrice {
  display: flex;
  justify-content: space-between;
  margin: 35px 5px 15px;
  background-color: rgb(248, 248, 19);
  padding: 10px ;
}

.CodeOffFactor {
  direction: rtl;
  display: flex;
  align-items: center;
  margin: 15px 5px;
}

.SubmitOrder{
  text-align: center;
  background-color: rgb(138, 138, 236);
  margin: 15px 5px;
  padding: 15px 0px;
}

.SubmitOrder:hover{
  cursor: pointer;
  background-color: aquamarine;
}

.InputFactor {
  width: 255px;
  height: 30px;
  font-size: 17px;
}

.TicOffFactor {
  background-color: #da291c;
  padding: 6px 12px;
  color: white;
  font-weight: bold;
}

.imageProduct {
  width: 80px;
}

.SingleProduct {
  width: 250px;
  display: flex;
  gap: 10px;
  background-color: rgb(200, 250, 233);
  height: 80px;
  padding: 10px;
  margin-top: 10px;
  direction: rtl;
  border-radius: 15px;
}

.SingleProductSection {
  border-top: 1px solid rgb(68, 66, 66);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.HeadSingleCard {
  font-weight: bold;
}

.ExplainNamePriceDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.PriceSection {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.counterSection {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.PluseBottom {
  background-color: #f37066;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
}

.CounterShow{
  padding: 0 5px;
}

